h2 {
/* MIT red, for a splash of colour… */
  color: #A80532;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
img.exec_pic {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 5%;
}*/