h2:not(.showcase_header) {
/* MIT red, for a splash of colour… */
    color: #A80532;
}

.showcase_header {
    color: black;
}

.sponsor_header {
    color: #A80532;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.exec_pic {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: right;
    margin: 0px 20px 20px 20px;
}

img.exec_old {
    width: 400px;
}
